body{
padding: 0;
margin:0 0;
font-family: Garamond, serif;
}
#visit{
    background-image:url('../image/visit.jpg');
}
#nature{
    background-image:url('../image/nature.jpg');
}
#cuisine{
    background-image:url('../image/cuisine.jpg');
}
#culture{
    background-image:url('../image/culture.jpg');
}
#second{
    background-image:url('../image/2.jpg');
}
#head{
    background-image:url('../image/mountain.jpg');
}
#region{
    background-image:url('../image/region.jpg');
}
#terai{
    background-image:url('../image/terai.jpg');
}
#hill{
    background-image:url('../image/hill.jpg');
}
.image{
    margin:0;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.flex{
    display:flex;
    align-items: center;

}
.section-title{
    font-size: 50px;
}
.headtxt{
    text-shadow:7px 7px 10px black;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color:whitesmoke;
    margin:0 auto;
    padding:0;
}
.flex div{
    width:inherit;
    margin:0 auto;
    background:rgba(63, 63, 63, 0.582);
    padding: 10px;
    border-radius:30px;
    box-shadow:10px 10px 5px rgba(0, 0, 0, 0.164);
}
#description{
    text-align: center;
    padding:20px;
    color:whitesmoke;
    background:rgb(80, 80, 80);
}
.section-description{
    font-size: 20px;
}
#description ul{
    text-align: justify;
}
footer{
    background:rgb(85, 64, 49);
    color: whitesmoke;
    padding:5px;
    display: inline-flex;
    align-items: center;
    width:99%;
}
footer div{
    font-size: 40px;
    margin:0;
    height: inherit;
    margin: 0px;
}
footer ul{
    display:inline-block;
    list-style-type: none;
}
footer ul li{
    display: inline-block;
    padding: 0 50px;
}
footer ul li a img:hover{
    filter: drop-shadow(10px 10px 4px rgb(0, 0, 0));
    margin:-3px -3px;
}
@media only screen and (max-width: 800px) {
    .headtxt{
        font-size: 30px;
    }
    .section-description{
        font-size: 10px;
    }
    .section-title{
        font-size: 25px;
    }
    footer div{
        font-size: 20px;
    }
    footer ul li{
        display: inline-block;
        padding: 0 0;
    }
    #cuisine{
        background-image:url('../image/cuisine2.jpg');
    }
    #culture{
        background-image:url('../image/culture2.jpg');
    }

  }
